/*style page for syncopika.github.io */

#index li{
	list-style-type: none;
	font-family: 'Roboto', 'sans-serif';
	font-size: 26px;
	padding-top: 5px;
	color: #00002A;
}

h2.title{
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
}

p.title{
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	font-size: 14px;
}

a{
	color: #303030;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: #7e7e7e;
}

.open{
	display: none;
	margin-top: 5%;
	margin-left: 3%;
}

#musicContent{
	text-align: center;
}

#links a{
	font-size: 20px;
}

#links li{
	list-style-type: none;
	font-family: 'Roboto', 'sans-serif';
	font-size: 22px;
	padding-left: 0;
	padding-top: 8px;
	color: #00002A;
}

#links{
	padding-left: 0;
}

.footer{
	height: 80px;
}

/* FOR SMALLER MEDIA */

@media screen and (max-width: 960px){
	
	ul{
		padding-left: 0;
	}
	
	#links a{
		font-size: 16px;
	}
	
	#links li{
		display: inline;
		padding-right: 8px;
	}
	
	#index{
		text-align: center;
	}
	
	#index li{
		padding-right: 2%;
		display: inline;
	}
	
}
