<style>
	h3, p, h1{
		font-family: 'ms gothic';
	}
</style>


<section>

<h1> about this website: </h1>
<h3> hi, thanks for visiting! </h3>
<br>
<h3>this place is just mainly to practice using angular.js (and to practice writing I guess)</h3>
<h3>I enjoy watching Japanese animation and listening to the music they have. </h3>
<h3>this website sort of acts as a log for the soundtracks I have heard from the anime I have watched. </h3>
<br>
<h3>ideally, I'd like to have a physical collection too one day! ^_^</h3>

<br>
<p>by the way, i'm using the 'ms gothic' font family because it's kinda neat and I think this font is often associated with 
(or at least very similar to) the english text produced with japanese keyboards.</p>
<p>also, the images for the soundtracks come from <a href='http://vgmdb.net/'>vgmdb</a>, a really great resource for more info such as staff/personnel who worked on the soundtracks and track names. </p>
<hr>

<h2> other links: </h2>
<p><a href='https://syncopika.github.io/'>my home page </a></p>

<hr>
<a href='/#list.html'>&laquo; back to main page </a> 
</section>
