<style>
	h3, p{
		font-family: 'helvetica', 'ms gothic';
	}
	
	h1, h2{
		font-family: 'ms gothic';
	}
</style>


<section>
<br>
<h4>This is a log for the soundtracks I've heard from anime I've watched. </h4>
<br>
<h4>Hopefully I can make a physical collection too one day!</h4>

<br>
<p>the images for the soundtracks come from <a href='http://vgmdb.net/'>vgmdb</a>, a really great resource for more info such as staff/personnel who worked on the soundtracks and track names. </p>
<hr>

<h3> other links: </h3>
<p><a href='https://syncopika.github.io/'>my home page </a></p>

<hr>
<a href='https://syncopika.github.io/misc/soundtrackLib/index.html'>&laquo; back to library index </a> 
</section>
