<section>

<div>
	<h2> some thoughts on: </h2>
</div>
<hr>
<div ng-model="soundtracks">
	<h1>{{soundtracks[whichItem].series}}</h1>
	<h2>{{soundtracks[whichItem].composer}}</h2>
	<p style="white-space:pre-wrap;">{{soundtracks[whichItem].notes}} </p>
	<br>
	<img ng-src="{{soundtracks[whichItem].image}}" src='bigsister4.png' width='300px' height='300px'/> <!--  title="ai ninomiya from 'amanchu!'" alt="ai ninomiya from 'amanchu!'" -->
</div>

<br>
<a href="https://syncopika.github.io/misc/soundtrackLib/index.html">&laquo; back to menu</a>

</section>
